*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}


header{
    height:100px ;
    /* border: 1px solid red; */
    box-shadow: 2px 2px 18px gainsboro ;
    position: fixed;
    top: 0;
    width: 100vw;
  
    background: linear-gradient(to right, rgba(7, 82, 7, 0.9),rgba(63, 9, 9, 0.2));


}
nav{

position: relative;
}

header img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
   position: relative;
   left: 30px;
   top: 13px;
}
.checkbox{
    display: none;
}
.lamb-line{
    width: 30px;
    height: 2px;
    background: black;
    display: block;
    position: relative;
}

.nav-bar{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
     width: 85%;
     height: 85vh;
     gap: 80px;
     align-items: center;
    /* background: white; */
    box-shadow: 3px 3px 10px rgb(214, 214, 219);
    position: absolute;
    top: 120px;
    left: -100%;
    transition:  all .9s ease-in-out;
    background: linear-gradient(to bottom left, rgba(22, 15, 15, 0.8), rgba(29, 25, 25,0.9));
   font-size: 120%;
}

.nav-bar a{
    color:white;
    text-transform: capitalize;
}

.lamb-line::before,.lamb-line::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    display: block;
    transition: all .9s ease-in-out;

}
.lamb-line::before{
    top: 10px;
}

.lamb-line::after{
    top: -10px;
}

.lamb{
   display: block;
   position: relative;
   display: flex;
   justify-content: right;
   top: -23px;
    padding-right: 30px;
}




#check:checked ~ .nav-bar{
    left: 0;
}

#check:checked ~  .lamb .lamb-line{
    background: transparent;
}

#check:checked ~ .lamb .lamb-line::before{
    transform: rotate(-45deg);
    top: 0;
}
#check:checked ~ .lamb .lamb-line::after{
    transform: rotate(45deg);
    top: 0;

}  


@media screen and (min-width:768px) {
    .nav-bar{
        flex-direction: row;
        background: none;
        box-shadow: none;
        left:180px;
        top: 355px;

    }
    .lamb{
        display: none;
    }

}

@media screen and (min-width:820px) {
    .nav-bar{
        flex-direction: row;
       
        left:180px;
        top: -475px;

    }
    

}
@media  screen and (min-width:912px) {
    .nav-bar{
        flex-direction: row;
       
        left: 300px;
        top: -475px;

    }


    
}
@media  screen and (min-width:1024px) {
    .nav-bar{
        flex-direction: row;
        gap: 120px;   
        left: 250px;
        top: -230px;

    } 
    
}
